ErrorDocument 403 /403.php
ErrorDocument 404 /404.php

php_value output_buffering On

<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css text/x-javascript text/javascript application/x-javascript application/javascript image/svg+xml application/x-httpd-php
</ifmodule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "access 1 year"
	ExpiresByType image/jpeg "access 1 year"
	ExpiresByType image/gif "access 1 year"
	ExpiresByType image/png "access 1 year"
	ExpiresByType image/svg+xml "access 1 year"
	ExpiresByType image/x-icon "access 1 year"
	ExpiresByType application/pdf "access 1 year"
	ExpiresByType text/css "access 1 month"
	ExpiresByType text/x-javascript "access 1 month"
	ExpiresByType text/javascript "access 1 month"
	ExpiresByType application/x-javascript "access 1 month"
	ExpiresByType application/javascript "access 1 month"
	ExpiresByType text/xml "access 1 month"
	ExpiresDefault "access 2 days"
</IfModule>
