body {
	background: #EFEFEF;
	bottom: 0;
	color: #333333;
	font: 400 1em/1.4 'Droid Sans', Sans;
	left: 0;
	margin: 0;
	padding: 0;
	right: 0;
	text-align: center;
	top: 0;
	}

#headcontainer {
	margin: 0;
	background: rgba(12,48,83,1);
	background: -moz-linear-gradient(left, rgba(12,48,83,1) 0%, rgba(22,70,117,1) 25%, rgba(12,48,83,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,48,83,1)), color-stop(25%, rgba(22,70,117,1)), color-stop(100%, rgba(12,48,83,1)));
	background: -webkit-linear-gradient(left, rgba(12,48,83,1) 0%, rgba(22,70,117,1) 25%, rgba(12,48,83,1) 100%);
	background: -o-linear-gradient(left, rgba(12,48,83,1) 0%, rgba(22,70,117,1) 25%, rgba(12,48,83,1) 100%);
	background: -ms-linear-gradient(left, rgba(12,48,83,1) 0%, rgba(22,70,117,1) 25%, rgba(12,48,83,1) 100%);
	background: linear-gradient(to right, rgba(12,48,83,1) 0%, rgba(22,70,117,1) 25%, rgba(12,48,83,1) 100%);
	}

header {
	color: #000;
	padding: 1% 0 0;
	text-align: center;
	}

.title {
	display: inline-block;
	float: left;
	}

.maincontentcontainer, #maincontentcontainer {
	-webkit-box-shadow:  0px 4px 15px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.7);
	padding: 3% 0 5%;
	}
#maincontent, .maincontent { padding: 0; }

#footercontainer {
	border: none;
	background: rgba(12,48,83,1);
	background: -moz-linear-gradient(left, rgba(12,48,83,1) 0%, rgba(22,70,117,1) 25%, rgba(12,48,83,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,48,83,1)), color-stop(25%, rgba(22,70,117,1)), color-stop(100%, rgba(12,48,83,1)));
	background: -webkit-linear-gradient(left, rgba(12,48,83,1) 0%, rgba(22,70,117,1) 25%, rgba(12,48,83,1) 100%);
	background: -o-linear-gradient(left, rgba(12,48,83,1) 0%, rgba(22,70,117,1) 25%, rgba(12,48,83,1) 100%);
	background: -ms-linear-gradient(left, rgba(12,48,83,1) 0%, rgba(22,70,117,1) 25%, rgba(12,48,83,1) 100%);
	background: linear-gradient(to right, rgba(12,48,83,1) 0%, rgba(22,70,117,1) 25%, rgba(12,48,83,1) 100%);
	}

h1 {
	background: url('http://midoribrowser.org/images/midori.png') left center no-repeat transparent;
	color: #FEFEFE;
	font: 200 107px/128px Raleway, Sans;
	margin: 0;
	padding: 0 0 0 128px;
	text-align: left;
	text-decoration: none !important;
	}
.tag {
	color: #b1df3f;
	margin: -18px 0 0 133px;
	text-align: left;
	text-decoration: none !important;
	}

@media only screen and (max-width: 799px) {
	h1 { padding: 0; }
	.tag { margin: -18px 0 0 0; }
	}
@media only screen and (max-width: 599px) {
	h1 { background-image: none; }
	}


h2,h3,h4,h5,h6 {
	margin: 0;
	text-align: center;
	}
h2 {
	color: #333333;
	font: 400 2em/1.2 Raleway, Sans;
	margin: 0 0 .5em;
	}
h3 {
	color: #333333;
	font: 400 1.5em/1.3 Raleway, Sans;
	margin: .3em 0;
	}
h4 {
	color: #444;
	font: 400 1.3em/1.25 Raleway, Sans;
	margin-bottom: .5em;
	}
h5 {
	color: #555;
	margin-bottom: 1.25em;
	font: 400 .95em/1.2 'Droid Sans', Sans;
	}
h6 {
	color: #666;
	font-size: 1em;
	}
p,ol,ul,dl,address {
	font-size: 0.9em;
	margin-bottom: 1em;
	text-align: justify;
	}

a {
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	color: #4fa80e;
	text-decoration: none;
	transition: all 500ms ease-in-out;
	}
a:hover,a:active {
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	color: #69ba2d;
	outline: 0;
	transition: all 500ms ease-in-out;
	}
a:focus { outline: none; }



/* Donations */
.donate {
	float: right;
	margin: 0;
	padding: 0;
	}

.donate form, form.donate {
	margin: 0;
	padding: 0;
	width: 100%;
	}

.donate .amount {
	display: block;
	width: 90%;
	margin: 0 auto;
	border: 0;
	outline: none;
	padding: 0;
	height: 32px;
	font: 16px/30px 'Open Sans', 'Droid Sans', Sans;
	text-align: center;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background-color: #cccccc;
	background-color: rgba(255,255,255,0.5);
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	color: #333333;
	}
.donate:hover .amount,
.donate:focus .amount,
.donate .amount:hover,
.donate .amount:focus {
	color: #222222;
	background-color: #dddddd;
	background-color: rgba(255,255,255,0.7);
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	}
header .donate .amount { background: #cccccc url(dollar.png) 16px center no-repeat; background-color: rgba(255,255,255,0.5); }
header .donate:hover .amount,
header .donate:focus .amount,
header .donate .amount:hover,
header .donate .amount:focus { background: #dddddd url(dollarhover.png) 16px center no-repeat; background-color: rgba(255,255,255,0.7); }

.donate .submit {
	display: block;
	width: 90%;
	margin: 0 auto;
	border: 0;
	outline: none;
	padding: 0;
	height: 32px;
	font: 16px/30px 'Open Sans', 'Droid Sans', Sans;
	background: rgba(177,223,63,0.5);
	color: #333333;
	text-align: center;
	border-radius: 0px 0px 4px 4px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	}
.donate:hover .submit {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	background: rgba(177,223,63,0.7);
	color: #222222;
	cursor: pointer;
	}
header .donate .submit { color: #efefef; }
header .donate:hover .submit { color: #eeeeee; }

.donate p {
	display: block;
	width: 90%;
	margin: .3em auto;
	border: 0;
	outline: none;
	padding: 0;
	text-align: center;
	font-size: 13px;
	color: #dddddd;
	}
.donate a {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	color: rgba(177,223,63,0.7);
	text-decoration: none;
	}
.donate a:hover {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	color: rgba(177,223,63,1);
	}



/* Navigation */
.nav { margin: 2% 0 0 !important; overflow: hidden; }
.nav .col { margin-bottom: 0; }
.nav .col.span_1_of_5 { width: 18.72% !important; }
.nav a {
	-webkit-border-radius: 3px 3px 0 0;
	background: #cccccc;
	background: rgba(255,255,255,0.5);
	border-radius: 3px 3px 0 0;
	color: #333333;
	display: inline-block;
	padding: 5% 5% 3%;
	width: 80%;
	font-size: 1em;
	}
.nav a.down {
	background: rgba(255,255,255,0.7);
	}
.nav:hover a.current {
	background: rgba(255,255,255,0.5);
	}
.nav a:hover,.nav a.current,.nav:hover a:hover.current, .nav a:hover.down {
	background: #EFEFEF;
	color: #222222;
	}

.left { text-align: left !important; }
.center { text-align: center !important; }
.right { text-align: right !important; }

.floatleft { float: left; margin: 0 5% 0 0; }
.floatright { float: right; margin: 0 0 0 5%; }

img {
	border: 0;
	max-width: 100%;
	vertical-align: middle;
	}
img.littleleft {
	float: none;
	margin: 0 20px 0 -20px;
	}
img.sixtyfour {
	max-height: 64px;
	max-width: 64px;
	}
img.fortyeight {
	max-height: 48px;
	max-width: 48px;
	}
img.thirtytwo {
	max-height: 32px;
	max-width: 32px;
	}

code, .code { font: 400 .8em/2 'Droid Sans Mono'; }
code {
	display: block;
	margin: 2% 3% 3%;
	text-align: left;
	}

.bubble {
	margin: 0 10px;
	padding: 10px;
	}
.bubble h2,.bubble h3 {
	color: #fefefe;
	margin: 3%;
	}
.withimg64 { padding: 0 64px 0 0; }
.withimg48 { padding: 0 48px 0 0; }
.withimg32 { padding: 0 32px 0 0; }
.bubble h4 {
	color: #fefefe;
	margin: 10px;
	}
.bubble h5 {
	color: #fefefe;
	font: 400 1.2em/1.4 'Droid Sans', Sans;
	margin: 3% auto;
	max-width: 700px;
	text-align: center;
	}
.bubble p { margin: 2% 3% 3%; }
.bubble.system h2,.bubble.system h3,.bubble.system h4 { margin: 3% 0 3% 100px; }
.bubble.system p { margin: 2% 100px; }
.bubble a { color: #bdf48f; }
.bubble a:hover,.bubble a:active { color: #9eda60; }

.warning {
	-webkit-border-radius: 3px;
	background: #DF382C;
	border-radius: 3px;
	color: #FEFEFE;
	}
.information {
	-webkit-border-radius: 3px;
	background: rgb(76, 165, 201);
	border-radius: 3px;
	color: #FEFEFE;
	}
.source, .choose {
	-webkit-border-radius: 3px;
	background: rgba(22,70,117,1);
	border-radius: 3px;
	color: #eeeeee;
	text-align: center;
	vertical-align: middle;
	}
.standard {
	-webkit-border-radius: 3px;
	background: rgba(22,70,117,1);
	border-radius: 3px;
	color: #eeeeee;
	text-align: center;
	vertical-align: middle;
	}
.system {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #eeeeee;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(22,70,117,1);
	background-position: 10px center;
	background-repeat: no-repeat;
	}
.ubuntu { background-image: url(../images/system-ubuntu.png); }
.elementary { background-image: url(../images/system-elementary.png); }
.fedora { background-image: url(../images/system-fedora.png); }
.debian { background-image: url(../images/system-debian.png); }
.mint { background-image: url(../images/system-mint.png); }
.mageia { background-image: url(../images/system-mageia.png); }
.arch { background-image: url(../images/system-arch.png); }
.snow { background-image: url(../images/system-snow.png); }
.opensuse { background-image: url(../images/system-opensuse.png); }
.pclinuxos { background-image: url(../images/system-pclinuxos.png); }
.gentoo { background-image: url(../images/system-gentoo.png); }
.slackware { background-image: url(../images/system-slackware.png); }
.windows { background-image: url(../images/system-windows.png); }
.portable { background-image: url(../images/system-portable.png); }
.previous-windows { background: rgba(22,70,117,1) url(../images/system-windows-previous.png) 40px center no-repeat; }

.download { background-image: url(../images/big/action-download.png); }
.help { background-image: url(../images/big/feature-help.png); }

.review p {
	color: #bdf48f;
	text-align: center;
	}
.important { font-size: 1em; }

.nobottom { margin-bottom: 0 !important; }

.span_1_of_1 { width: 100%; }

ul,ol {
	margin: 0 0 1.5em;
	padding: 0 0 0 24px;
	}
li {
	margin: 10px 0;
	padding: 0;
	}
li ul,li ol {
	font-size: 1em;
	margin: 0;
	}

b,strong { font-weight: bold; }
small { font-size: 0.9em; }

sub,sup {
	color: #666;
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	}
sup { top: -.5em; }
sub { bottom: -.25em; }

footer {
	color: #cccccc;
	font: 400 .9em/1.4 'Droid Sans', Sans;
	text-align: left;
	}

footer h4 {
	color: #cccccc;
	font: 400 1.5em/1.25 Raleway, Sans;
	margin-bottom: .5em;
	}

footer a {
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	color: #eeeeee;
	text-decoration: none;
	transition: all 500ms ease-in-out;
	}
footer a:hover {
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	color: #fafafa;
	outline: 0;
	transition: all 500ms ease-in-out;
	}

footer li {
	list-style: none;
	margin: 0;
	padding: 1% 0;
	}

footer a img {
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	border: none;
	margin: 0;
	max-width: 100%;
	opacity: 0.8;
	padding: 0;
	transition: all 500ms ease-in-out;
	vertical-align: middle;
	}
footer a:hover img {
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	opacity: 1;
	transition: all 500ms ease-in-out;
	}

footer .floatleft { margin: 0 1% 0 0; }
footer .floatright { margin: 0 0 0 1%; }

.section { margin: 3% 0; }
.clearfix { zoom: 1; }
.clear,.breaker { clear: both; }
.none, footer ul {
	margin: 0;
	padding: 0;
	}

html {
	-ms-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgb(52,158,219);
	-webkit-text-size-adjust: 100%;
	}

.twocolumns {
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	column-count: 2;
	column-gap: 2em;
	}

.ie7 img,.iem7 img { -ms-interpolation-mode: bicubic; }

button,input[type=button],input[type=reset],input[type=submit] { -webkit-appearance: button; }
input[type=checkbox],input[type=radio] { box-sizing: border-box; }
input[type=search] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	}
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
	}
::-webkit-input-placeholder,input:-moz-placeholder {
	font-size: .9em;
	line-height: 1.4;
	}
input,input:hover,input:focus,input:active {
	background-color: #333333;
	border: none;
	border-radius: 3px;
	color: #FAFAFA;
	font: 400 14px/1.5em 'Droid Sans Mono', monospace;
	margin: 2%;
	outline: 0;
	padding: 2% 3%;
	text-align: center;
	width: 90%;
	}

::-webkit-selection,::-moz-selection,::selection {
	background: #BDF48F;
	color: #111111;
	text-shadow: none;
	}
